# ===============================
# macOS 垃圾文件
# ===============================
.DS_Store
**/.DS_Store

# ===============================
# 图片走 R2（核心）
# ===============================
assets/images/
**https://pub-cc14b1c1829a4b8cb92ae7a126f62cbb.r2.dev/assets/images/

# ===============================
# 可选：以后扩展
# ===============================
node_modules/
dist/
.env