# ===============================
# macOS 垃圾文件
# ===============================
.DS_Store
**/.DS_Store

# ===============================
# 图片本地不上传（已迁移 R2）
# ===============================
assets/images/
**/assets/images/

# ===============================
# 开发文件（可选）
# ===============================
node_modules/
dist/
.env